<div class="page-width">
	<div class="description-and-detail">
		<div class="pdp-tabs-nav">
			<button class="pdp-tab-button active" data-tab="Details">Details</button>
			{% if section.settings.tab_page_1_title %}
			<button class="pdp-tab-button" data-tab="Specs">{{ section.settings.tab_page_1_title }}</button>
			{% endif %}
			<button class="pdp-tab-button" data-tab="Reviews">Reviews</button>
		</div>
		<div class="pdp-tabs-body">
			<div class="pdp-tab-content active fadeIn Details">
				<div class="pdp-mobile-accordian">
					<div class="pdp-mobile-accordian-label">Details</div>
					<div class="pdp-mobile-accordian-switch pdp-mobile-accordian-plus">
						<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="UI-KIT" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1062.000000, -6284.000000)">
							<g id="UI_COMPONENTS" transform="translate(206.000000, 5895.000000)" fill="#555759">
							<g id="$ICON-/-plus" transform="translate(850.000000, 383.000000)">
							<g id="2044286---add-interface-plus-u" transform="translate(6.000000, 6.000000)">
							<path d="M10.9195787,9.68042131 L19.6804213,9.68042131 C20.0226052,9.68042131 20.3,9.95781614 20.3,10.3 C20.3,10.6421839 20.0226052,10.9195787 19.6804213,10.9195787 L10.9195787,10.9195787 L10.9195787,19.6804213 C10.9195787,20.0226052 10.6421839,20.3 10.3,20.3 C9.95781614,20.3 9.68042131,20.0226052 9.68042131,19.6804213 L9.68042131,10.9195787 L0.919578686,10.9195787 C0.577394827,10.9195787 0.3,10.6421839 0.3,10.3 C0.3,9.95781614 0.577394827,9.68042131 0.919578686,9.68042131 L9.68042131,9.68042131 L9.68042131,0.919578686 C9.68042131,0.577394827 9.95781614,0.3 10.3,0.3 C10.6421839,0.3 10.9195787,0.577394827 10.9195787,0.919578686 L10.9195787,9.68042131 Z" id="Combined-Shape" fill-rule="nonzero"></path>
							</g>
							</g>
							</g>
							</g>
						</svg>
					</div>
					<div class="pdp-mobile-accordian-switch pdp-mobile-accordian-minus">
						<svg width="21px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
							<g>
							<g>
							<path d="M501.333,245.333H10.667C4.776,245.333,0,250.109,0,256c0,5.891,4.776,10.667,10.667,10.667h490.667    c5.891,0,10.667-4.776,10.667-10.667C512,250.109,507.224,245.333,501.333,245.333z"></path>
							</g>
							</g>
						</svg>
					</div>
				</div>
				<div class="pdp-content-body">
					<div>
						{% if product.description %}	
						{{ product.description }}
						{% else %}
						No Description
						{% endif %}
					</div>	
				</div>
			</div>
			{% if section.settings.tab_page_1_handle %}
			<div class="pdp-tab-content Specs">
				<div class="pdp-mobile-accordian">
					<div class="pdp-mobile-accordian-label">Specs</div>
					<div class="pdp-mobile-accordian-switch pdp-mobile-accordian-plus">
						<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="UI-KIT" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1062.000000, -6284.000000)">
							<g id="UI_COMPONENTS" transform="translate(206.000000, 5895.000000)" fill="#555759">
							<g id="$ICON-/-plus" transform="translate(850.000000, 383.000000)">
							<g id="2044286---add-interface-plus-u" transform="translate(6.000000, 6.000000)">
							<path d="M10.9195787,9.68042131 L19.6804213,9.68042131 C20.0226052,9.68042131 20.3,9.95781614 20.3,10.3 C20.3,10.6421839 20.0226052,10.9195787 19.6804213,10.9195787 L10.9195787,10.9195787 L10.9195787,19.6804213 C10.9195787,20.0226052 10.6421839,20.3 10.3,20.3 C9.95781614,20.3 9.68042131,20.0226052 9.68042131,19.6804213 L9.68042131,10.9195787 L0.919578686,10.9195787 C0.577394827,10.9195787 0.3,10.6421839 0.3,10.3 C0.3,9.95781614 0.577394827,9.68042131 0.919578686,9.68042131 L9.68042131,9.68042131 L9.68042131,0.919578686 C9.68042131,0.577394827 9.95781614,0.3 10.3,0.3 C10.6421839,0.3 10.9195787,0.577394827 10.9195787,0.919578686 L10.9195787,9.68042131 Z" id="Combined-Shape" fill-rule="nonzero"></path>
							</g>
							</g>
							</g>
							</g>
						</svg>
					</div>
					<div class="pdp-mobile-accordian-switch pdp-mobile-accordian-minus">
						<svg width="21px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
							<g>
							<g>
							<path d="M501.333,245.333H10.667C4.776,245.333,0,250.109,0,256c0,5.891,4.776,10.667,10.667,10.667h490.667    c5.891,0,10.667-4.776,10.667-10.667C512,250.109,507.224,245.333,501.333,245.333z"></path>
							</g>
							</g>
						</svg>
					</div>
				</div>
				<div class="pdp-content-body">
					<h3 class="details-heading mb-sm-0">{{ section.settings.tab_page_content_title }}</h3>
					<div>
						{% assign tab_page_1_handle = section.settings.tab_page_1_handle %}

						{{ pages[tab_page_1_handle].content }}
					</div>
				</div>
			</div>
			{% endif %}
			<div class="pdp-tab-content Reviews">
				<div class="pdp-mobile-accordian">
					<div class="pdp-mobile-accordian-label">Reviews</div>
					<div class="pdp-mobile-accordian-switch pdp-mobile-accordian-plus">
						<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="UI-KIT" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1062.000000, -6284.000000)">
							<g id="UI_COMPONENTS" transform="translate(206.000000, 5895.000000)" fill="#555759">
							<g id="$ICON-/-plus" transform="translate(850.000000, 383.000000)">
							<g id="2044286---add-interface-plus-u" transform="translate(6.000000, 6.000000)">
							<path d="M10.9195787,9.68042131 L19.6804213,9.68042131 C20.0226052,9.68042131 20.3,9.95781614 20.3,10.3 C20.3,10.6421839 20.0226052,10.9195787 19.6804213,10.9195787 L10.9195787,10.9195787 L10.9195787,19.6804213 C10.9195787,20.0226052 10.6421839,20.3 10.3,20.3 C9.95781614,20.3 9.68042131,20.0226052 9.68042131,19.6804213 L9.68042131,10.9195787 L0.919578686,10.9195787 C0.577394827,10.9195787 0.3,10.6421839 0.3,10.3 C0.3,9.95781614 0.577394827,9.68042131 0.919578686,9.68042131 L9.68042131,9.68042131 L9.68042131,0.919578686 C9.68042131,0.577394827 9.95781614,0.3 10.3,0.3 C10.6421839,0.3 10.9195787,0.577394827 10.9195787,0.919578686 L10.9195787,9.68042131 Z" id="Combined-Shape" fill-rule="nonzero"></path>
							</g>
							</g>
							</g>
							</g>
						</svg>
					</div>
					<div class="pdp-mobile-accordian-switch pdp-mobile-accordian-minus">
						<svg width="21px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
							<g>
							<g>
							<path d="M501.333,245.333H10.667C4.776,245.333,0,250.109,0,256c0,5.891,4.776,10.667,10.667,10.667h490.667    c5.891,0,10.667-4.776,10.667-10.667C512,250.109,507.224,245.333,501.333,245.333z"></path>
							</g>
							</g>
						</svg>
					</div>
				</div>
				<div class="pdp-content-body">
					<h3 class="details-heading mb-sm-0">Reviews</h3>
					<div>
						Reviews 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": {
    "zh-CN": "产品TAB",
    "zh-TW": "產品TAB"
  },
  "settings": [
    {
      "type": "text",
      "id": "tab_page_1_title",
      "label": {
        "zh-CN": "菜单标题",
        "zh-TW": "菜单标题"
      }
    },
    {
      "type": "text",
      "id": "tab_page_content_title",
      "label": {
        "zh-CN": "内容标题",
        "zh-TW": "内容标题"
      },
      "default": "Specifications"
    },
    {
      "type": "page",
      "id": "tab_page_1_handle",
      "label": {
        "zh-CN": "内容",
        "zh-TW": "内容"
      }
    }
  ]
}
{% endschema %}